.tabbed-panels * {
  margin-left: 2em;
}

.tabbed-panels:before,
.tabbed-panels:after {
  display: block;
}

.tabbed-panels:before,
.tabbed-panels div:before {
  content: '<div class="' attr(class) '">';
}

.tabbed-panels:after,
.tabbed-panels div:after {
  content: '</div>';
}

.tabbed-panels button {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}

.tabbed-panels button:before {
  content: '<button class="' attr(class) '">';
}

.tabbed-panels button:after {
  content: '</button>';
}