/*
	Tabbed Panels
*/


/* tabs */
.tabbed-panels > .tab,
.tabbed-panels > .tabs > .tab {
	position: relative;
	top: 1px;
}

.tabbed-panels.active > .tab,
.tabbed-panels.active > .tabs > .tab {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.tabbed-panels > .tab.active,
.tabbed-panels > .tabs > .tab.active {
	background: white;
	border-bottom-color: white;
	position: relative;
	z-index: 1;
}

.tabbed-panels:not(.closeable) > .tab.active,
.tabbed-panels:not(.closeable) > .tabs > .tab.active {
	cursor: default;
}

.tabbed-panels:not(.closeable) > .tab.active:active
.tabbed-panels:not(.closeable) > .tabs > .tab.active:active {
	box-shadow: none;
}



/* panels */
.tabbed-panels > .panel {
	display: none;
	border: 1px solid #ccc;
	padding: 1em;
	background: white;
	position: relative;
}

.tabbed-panels > .panel.active {
	display: block;
}


/* hovering panels (for dropdowns) */
.tabbed-panels.hovering {
	position: relative;
}

.tabbed-panels.hovering > .tab,
.tabbed-panels.hovering > .tabs > .tab {
	position: relative;
	z-index: 11;
}

.tabbed-panels.hovering > .panel {
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 10;
}
