/*
	Tabbed Panels
*/


/* tabs */
.tabbed-panels .tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabbed-panels .tabs li {
	display: inline-block;
	margin-left: 12px;
}

.tabbed-panels .tabs li:last-child {
	margin-right: 12px;
}

.tabbed-panels .tab {
	position: relative;
	top: 1px;
}

.tabbed-panels.active .tab {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.tabbed-panels .tab.active {
	background: white;
	border-bottom-color: white;
}

.tabbed-panels:not(.closeable) .tab.active {
	cursor: default;
}

.tabbed-panels:not(.closeable) .tab.active:active {
	box-shadow: none;
}



/* panels */
.tabbed-panels .panel {
	display: none;
	border: 1px solid #ccc;
	padding: 1em;
	background: white;
}

.tabbed-panels .panel.active {
	display: block;
}


/* hovering panels (for dropdowns) */
.tabbed-panels.hovering {
	position: relative;
}

.tabbed-panels.hovering .tab {
	position: relative;
	z-index: 11;
}

.tabbed-panels.hovering .panel {
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 10;
}
